* {
    color: black;
    background-color: hotpink;
}

body {
    background-image: url("https://2.bp.blogspot.com/-u3WuD2iZkvM/WJpVkKywVHI/AAAAAAAAA1s/JVevW-jMgI0nRUPywcwkvP_UyN9DLxdWQCLcB/s1600/imagenes%2Bgif%2B7.gif")
    !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.videowrapper { 
        float: none;
        clear: both;
        width: 700px;<-- Added-->
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        margin: 0 auto;<-- Added-->
        max-width: 100%;<-- Added-->
    }
